.titulo{
margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color:  rgb(255,20,239);
    color:#fff;
color:
}
    
.paragrafo{
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    border: radius 10px;
    font-size: 18px;
}